body{
    
    color: white;
}

.forms{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding: 100px;
    width: 80vw;
    height: 80vh;
    margin-left: 50px ;
    align-content: space-between;
    background-color: black;
}
h1{
    font-size: 35px;
    margin-bottom: 50px;
}

.mid{
    display: flex;
    margin: 50px 0;
    font-size: 18px;
    margin: 10px;
}
.number{
    font-size: 18px;
    color: white;

}

hr{
    width: 170px;
    color: black;
    margin-left:10px ;
}

#error-msg{
    font-size: 18px;
    color: rgb(211, 43, 43);
    border: 2px white;
    visibility: visible;
}

#increment{
    height: 30px;
    width: 80px;
    margin: 10px;
    cursor: pointer;
}
#decrement{
    height: 30px;
    width: 80px;
    margin: 10px;
    cursor: pointer;
}
#clear{
    height: 30px;
    width: 80px;
    margin: 10px;
    cursor: pointer;
    background-color: black;
    color: white;
    border-color: white;
}